<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CommonClasses Hub</title>
  </head>
  <body>
    <a href="submitSchedule.html">Submit your schedule</a><br>
    <a href="javascript:window.location.href='http://'+window.location.hostname+':8081/?type=GetSummary&name='+prompt('Enter your full name below.')">View summary of your shared classes</a><br>
    <a href="javascript:window.location.href='http://'+window.location.hostname+':8081/?type=ListUsers'">List Users</a><br>
    <a href="javascript:window.location.href='http://'+window.location.hostname+':8081/?type=GetShared&name1='+prompt('Enter your full name below')+'&name2='+prompt('Enter the other person\'s full name below (click List Users on the homepage to list)')">Get shared classes with someone else</a><br>
    <a href="editSchedule.html">Edit your stored schedule</a>
  </body>
</html>
